html,body{
     
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    
  }

  .game-section {
    
    background-color: antiquewhite;
    flex: 3; /* This section takes up 50% of the container */
    border-right: 1px solid #ccc; /* Divider between sections */
    overflow-y: auto; 
    
    /* Enable vertical scrolling if needed */
  }

  .chat-section {
    background-color: blanchedalmond;
    flex: 1.5; /* This section takes up 50% of the container */
    padding: 20px;
    box-sizing: border-box;
    
  }
  .playbut{
    display: flex;
  justify-content: center;
  padding-top: 1vh;
  
  
   /* Horizontal centering */
  /* Optionally, align-items: center; for vertical centering if needed */

  }
  
  .playbut1{
    background-color: rgb(224, 207, 241);
    border-radius: 5px;
    padding: 5px 5px;
    width: 20vh;
    font-style: italic;
    
    
    
  }
  
  
  .game{
    
   
    margin-left: 35vh;
    margin-top: 3vh;
    
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 1.5vmin;
}
.box{
    height: 10vh;
    width: 10vh;
    background-color:#9ad1d4;
    background: linear-gradient(0, #70d1fb , #cdbca9);;
    border-radius: 1.8rem;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    font-size: 8vmin;
    color:#003249;
}
.blue-box {
  background:rgb(142, 142, 242) /* Replace 'blue' with the color you want */
}
.red-box {
  background: rgb(247, 85, 85); /* Replace 'blue' with the color you want */
}

  